// primary colors
$primary-color: #323232;
$button-color: #0095ff;
$form-outline-color: #0095ff;
$secondary-color: #afafaf;
$background-color: #ffffff;

// secondary colors
$brainflix-dark-black: #000000;
$cta-hover: #0065ad;
$divider-color: #e1e1e1;
$form-background-color: #fafafa;
