@font-face {
  font-family: "myAvenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
