@mixin tablet-screen {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop-screen {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin page-header-mobile {
  font-family: "myAvenir";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin page-header-tablet-desktop {
  font-family: "myAvenir";
  font-size: 2.0625rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin section-header-mobile {
  font-family: "myAvenir";
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@mixin section-header-tablet-desktop {
  font-family: "myAvenir";
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@mixin subheader-mobile {
  font-family: "myAvenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
}

@mixin subheader-tablet-desktop {
  font-family: "myAvenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
}

@mixin body-mobile {
  font-family: "myAvenir";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin body-tablet-desktop {
  font-family: "myAvenir";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin lables-button-mobile {
  font-family: "myAvenir";
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

@mixin lables-button-tablet-desktop {
  font-family: "myAvenir";
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
