// Check to see if I need all these - just pasted it from Header component
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  position: relative;

  &__img {
    height: auto;
    width: 100%;
  }
}

// tablet styling
@include tablet-screen {
  .hero {
    &__img {
      padding: 0 2.25rem;
      background-color: $brainflix-dark-black;
    }
  }
}

//Destop styling
@include desktop-screen {
  .hero {
    &__img {
      padding: 0 11.25rem;
      background-color: $brainflix-dark-black;
    }
  }
}
