// Check to see if I need all these - just pasted it from Header component
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  position: relative;
  height: 56.25vw;

  &__img {
    object-fit: cover;
    height: 56.25vw;
    width: 100%;
    background-size: cover;
    background-color: $brainflix-dark-black;
  }
}

// tablet styling
@include tablet-screen {
  .hero {
    &__img {
      height: 52vw;
      object-fit: cover;
      padding: 0 2.25rem;
      width: 100%;
    }
  }
}

//Destop styling
@include desktop-screen {
  .hero {
    &__img {
      height: 40vw;
      width: 100%;
      object-fit: cover;
      padding: 0 11.25rem;
    }
  }
}
