@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.comments__list {
  @include subheader-mobile;
  padding: 16px;
  border-bottom: 1px solid $mercury;

  &__comment {
    @include body-mobile;
    padding: 0 0 0 3.5rem;
  }
}

.comments__wrapper {
  display: flex;
  align-items: center;
  // margin-bottom: 16px;

  &__name {
    @include subheader-tablet-desktop;
  }

  &__avatar {
    background-color: $mercury;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 16px;
  }

  &__date {
    margin-left: auto;
    color: $silver;
  }
}

// styling for tablet
@include tablet-screen {
  .comments__wrapper__date {
    @include subheader-tablet-desktop;
  }
  .comments__list {
    padding: 24px 36px;

    &__comment {
      @include body-tablet-desktop;
    }
  }
}

// styling for desktop
