@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.comments__list {
  @include subheader-mobile;
  background-color: $background-color;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 0.0625rem solid $divider-color;
}

.comments__wrapper {
  display: flex;
  align-items: center;
}

.comments__avatar {
  background-color: $divider-color;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}

.comments__name {
  @include subheader-mobile;
  color: $primary-color;
}

.comments__date {
  margin-left: auto;
  color: $secondary-color;
}

.comments__array {
  @include body-mobile;
  padding: 0 0 0 3.5rem;
  color: $primary-color;
}

// styling for tablet
@include tablet-screen {
  .comments__wrapper__date {
    @include subheader-tablet-desktop;
  }
  .comments__list {
    padding: 1.5rem 0;
    margin: 0 2.25rem;
  }

  .comments__name {
    @include subheader-tablet-desktop;
    color: $primary-color;
  }

  .comments__date {
    @include subheader-tablet-desktop;
    margin-left: auto;
    color: $secondary-color;
  }

  .comments__array {
    @include body-tablet-desktop;
  }
}

// styling for desktop
@include desktop-screen {
  .comments__wrapper__date {
    @include subheader-tablet-desktop;
  }
  .comments__list {
    padding: 1.5rem 1.5rem 0;
    margin: 1.5rem 0 1.5rem 11.25rem;
    border-bottom: none;
    border-top: 0.0625rem solid $divider-color;
  }

  .comments__name {
    @include subheader-tablet-desktop;
    color: $primary-color;
  }

  .comments__date {
    @include subheader-tablet-desktop;
    margin-left: auto;
    color: $secondary-color;
  }

  .comments__array {
    @include body-tablet-desktop;
  }
}
