@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.videos__container {
  padding: 1rem 1rem 0;
}

.videos__header {
  @include subheader-mobile;
  color: $silver;
  margin-bottom: 1rem;
}

.videos {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

// styling for tablet
@include tablet-screen {
  .videos__container {
    padding: 1.5rem 1.5rem 0;
  }
}
