@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.videos__container {
  padding: 1rem 1rem 0;
}

.videos__header {
  @include subheader-mobile;
  color: $secondary-color;
  margin-bottom: 1rem;
}

.videos {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

// styling for tablet
@include tablet-screen {
  .videos__container {
    padding: 2.25rem 2.25rem 0;
  }
}

// styling for desktop
@include desktop-screen {
  .videos__container {
    padding: 2.25rem 0 2.25rem 2.25rem;
    margin-right: 11.25rem;
  }
}
