// Check to see if I need all these - just pasted it from Hero component
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about {
  background-color: &white;
  padding: 1.5rem 1rem 1rem 1rem;

  &__author {
    @include subheader-mobile;
    color: $primary-color;
  }

  &__timestamp {
    @include subheader-mobile;
    color: $secondary-color;
  }

  &__views-txt {
    color: $secondary-color;
    display: flex;
  }

  &__likes-txt {
    color: $secondary-color;
    display: flex;
  }

  &__likes-img {
    width: 1.5625rem;
    margin-right: 0.625rem;
  }

  &__views-img {
    width: 1.5625rem;
    margin-right: 0.625rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 0.0625rem solid $divider-color;
    border-bottom: 0.0625rem solid $divider-color;
    margin-top: 1rem;
  }

  &__title {
    @include page-header-mobile;
    width: 100%;
    color: $primary-color;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 6.25rem;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 24vw;
    @include subheader-mobile;
    margin-right: 3.125rem;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__description {
    @include body-mobile;
    padding: 1rem 0;
    color: $primary-color;
  }
}

// tablet styling
@include tablet-screen {
  .about {
    padding: 0;
    // padding: 2.25rem;
    // padding: 0 2.25rem 2.25rem;
    margin: 2.25rem;

    &__timestamp {
      @include subheader-tablet-desktop;
      margin-left: 1.25rem;
    }

    &__views-txt {
      margin-right: 1.25rem;
    }

    &__author {
      @include subheader-tablet-desktop;
    }

    &__title {
      @include page-header-tablet-desktop;
    }

    &__container {
      @include subheader-tablet-desktop;
      border-top: none;
      margin-top: 0;
      height: 8vw;
      align-items: center;
    }

    &__info {
      height: 0;
      flex-direction: row;
    }

    &__stats {
      @include subheader-tablet-desktop;
      margin-right: 0;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__description {
      @include body-tablet-desktop;
    }
  }
}

// styling for desktop
@include desktop-screen {
  .about {
    padding: 2.25rem 0 2.25rem 11.25rem;

    &__timestamp {
      @include subheader-tablet-desktop;
      margin-left: 2.25rem;
    }

    &__views-txt {
      margin-right: 1.25rem;
    }

    &__likes-txt {
      margin-right: 1rem;
    }

    &__author {
      @include subheader-tablet-desktop;
    }

    &__title {
      @include page-header-tablet-desktop;
    }

    &__container {
      @include subheader-tablet-desktop;
      border-top: none;
      margin-top: 0;
      align-items: center;
      height: 3.125rem;
    }

    &__info {
      height: 0;
      display: flex;
      flex-direction: row;
    }

    &__stats {
      @include subheader-tablet-desktop;
      margin-right: 0;
      display: flex;
      flex-direction: row;
    }

    &__description {
      @include body-tablet-desktop;
      padding-right: 1rem;
    }
  }
}
