// Check to see if I need all these - just pasted it from Hero component
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.about {
  background-color: &white;
  padding: 1.5rem 1rem 1rem 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 0.0625rem solid $mercury;
    border-bottom: 0.0625rem solid $mercury;
    margin-top: 1rem;
  }

  &__title {
    @include page-header-mobile;
    width: 100%;
    color: $brainflix-black;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 6.25rem;

    &__timestamp {
      @include subheader-mobile;
      color: $silver;
    }

    &__author {
      @include subheader-mobile;
      color: $brainflix-black;
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 24vw;
    @include subheader-mobile;
    margin-right: 3.125rem;
    justify-content: space-around;
    align-items: flex-start;

    &__views-img {
      width: 1.5625rem;
      margin-right: 0.625rem;

      &-txt {
        color: $silver;
        display: flex;
      }
    }

    &__likes-img {
      width: 1.5625rem;
      margin-right: 0.625rem;

      &-txt {
        color: $silver;
        display: flex;
      }
    }
  }

  &__description {
    @include body-mobile;
    padding: 1rem 0;
    color: $brainflix-black;
  }
}

// tablet styling
@include tablet-screen {
  .about {
    padding: 2.25rem;

    &__title {
      @include page-header-tablet-desktop;
    }

    &__container {
      @include subheader-tablet-desktop;
      border-top: none;
      margin-top: 0;
      height: 8vw;
      align-items: center;
    }

    &__info {
      height: 0;
      flex-direction: row;

      &__timestamp {
        @include subheader-tablet-desktop;
        margin-left: 1.25rem;
      }

      &__author {
        @include subheader-tablet-desktop;
      }
    }

    &__stats {
      @include subheader-tablet-desktop;
      margin-right: 0;
      flex-direction: row;
      flex-wrap: nowrap;

      &__views-img-txt {
        margin-right: 1.25rem;
      }
    }

    &__description {
      @include body-tablet-desktop;
    }
  }
}

// styling for desktop
@include desktop-screen {
  .about {
    padding: 2.25rem 0 2.25rem 11.25rem;

    &__title {
      @include page-header-tablet-desktop;
    }

    &__container {
      @include subheader-tablet-desktop;
      border-top: none;
      margin-top: 0;
      align-items: center;
      height: 3.125rem;
    }

    &__info {
      height: 0;
      display: flex;
      flex-direction: row;

      &__timestamp {
        @include subheader-tablet-desktop;
        margin-left: 2.25rem;
      }

      &__author {
        @include subheader-tablet-desktop;
      }
    }

    &__stats {
      @include subheader-tablet-desktop;
      margin-right: 0;
      display: flex;
      flex-direction: row;

      &__likes-img-txt {
        margin-right: 1rem;
      }

      &__views-img-txt {
        margin-right: 1.25rem;
      }
    }

    &__description {
      @include body-tablet-desktop;
      padding-right: 1rem;
    }
  }
}
