@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.videos__item {
  display: flex;
  margin-bottom: 1rem;

  &__img {
    width: 7.5rem;
    height: 5rem;
    display: inline-block;
    border-radius: 0.25rem;
    flex-shrink: 0;
  }
}

.videos__wrapper {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    @include subheader-mobile;
    padding: 0;
  }

  &__channel {
    @include body-mobile;
  }
}

//tablet styling
@include tablet-screen {
  .videos__item {
    margin-bottom: 1.5rem;
  }

  .videos__wrapper {
    max-width: 20%;

    &__title {
      @include subheader-tablet-desktop;
    }
    &__channel {
      @include body-tablet-desktop;
    }
  }
}

//Desktop styling
@include desktop-screen {
  .videos__item {
    margin-bottom: 1.5rem;
  }

  .videos__wrapper {
    &__title {
      @include subheader-tablet-desktop;
    }
    &__channel {
      @include body-tablet-desktop;
    }
  }
}
