// Check to see if I need all these - just pasted it from Header component
@use "../../styles/partials/reset" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  font-family: avenir;
  padding: 0 16px;

  &__header {
    @include subheader-mobile;
    padding-bottom: 16px;
  }

  &__form {
    border-bottom: 1px solid $mercury;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    &__img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  &__textarea {
    height: 100px;
    width: 98%;
    outline: none;
    border: 1px solid $mercury;
    margin-top: 5px;
    position: relative;
    margin-bottom: 16px;

    &::placeholder {
      line-height: 70px;
      position: absolute;
      top: 10px;
      left: 16px;
      @include section-header-mobile;
      color: $brainflix-dark-black;
    }
  }

  &__input-field {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    &-txt {
      @include subheader-mobile;
      color: $silver;
    }
  }

  &__btn {
    @include body-mobile;

    &-submit {
      @include body-mobile;
      color: $white;
      background-color: $brainflix-blue;
      width: 72vw;
      height: 40px;
      border: none;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 16px;

      &:hover {
        background-color: $brainflix-dark-blue;
      }

      &-img {
        margin-right: 25vw;
      }
    }
  }
}

// styling for tablet
@include tablet-screen {
  .comments {
    padding: 0 36px;

    &__form {
      align-items: center;
      justify-content: flex-start;

      &__img {
        margin-right: 16px;
      }
    }

    &__input-field {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      // width: 85vw;
    }

    &__header {
      @include subheader-tablet-desktop;
    }

    &__textarea {
      border-radius: 4px;
      height: 40px;
      width: 63vw;
      margin-right: 16px;
    }

    &__btn-submit {
      width: 18vw;
      height: 40px;

      &-img {
        margin-right: 25px;
      }
    }
  }
}

// desktop styling
@include desktop-screen {
  .comments {
    // padding: 0 180px;
    padding: 0 0 0 180px;

    &__form {
      align-items: center;
      justify-content: space-between;

      &__img {
        margin-right: 16px;
      }
    }

    &__input-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      // width: 85vw;
    }

    &__header {
      @include subheader-tablet-desktop;
    }

    &__textarea {
      border-radius: 4px;
      height: 40px;
      width: 40vw;
      margin-right: 16px;
    }

    &__btn-submit {
      width: 10vw;
      height: 40px;
      margin-right: 16px;

      &-img {
        margin-right: 25px;
      }
    }
  }
}
