@use "./styles/partials/reset" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/colors" as *;

@include desktop-screen {
  .flex__wrapper {
    display: flex;

    &-left {
      width: 80vw;
      border-right: 0.0625rem solid $mercury;
    }
  }
}
